h1 {
	font-family: 'gfs_didot';
	font-weight: 900;
}

h2 {
	font-family: 'gfs_neohellenic';
	font-weight: 700;
}

h3 {
	font-family: 'gfs_neohellenic';
	font-style: italic
}

h4 {
	font-family: 'gfs_neohellenic'
}

h5 {
	font-family: 'gfs_didot';
	font-weight: 700;
	font-style: italic;
}

p {
	font-family: 'gfs_didot'
}

.footnotes li, .footnotes p {
	font-family: 'gfs_neohellenic';
	font-style: italic;
}

th {
	font-family: 'gfs_didot_display'
}